<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSjov9CE56YjPE7x8EBqi9RnrMrJ2KO_E</string>
	<key>GCM_SENDER_ID</key>
	<string>1014503794984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kathiravanagency.sillaraiapp</string>
	<key>PROJECT_ID</key>
	<string>sillarai-1dce6</string>
	<key>STORAGE_BUCKET</key>
	<string>sillarai-1dce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014503794984:ios:3e25e10d3afea71758881d</string>
</dict>
</plist>